* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 90%;
  margin: 1em auto;
  border: 2px solid lightgrey;
}

a {
  text-decoration: none;
  color: black;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

/***************** header ******************/

header {
  display: flex;
}

header div {
  width: 33.33%;
  height: 6em;
}

header div:first-child {
  background-color: #5F9EA0;
}
header div:nth-child(2) {
  background-color: #008B8B;
}
header div:last-child {
  background-color: #00CED1;
}

/****************** nav ******************/

nav {
  background-color: #FFEBCD;
  margin: 0 auto;
  padding: 1.5em 34%;
  display: flex;
  justify-content: space-between;
}

/************ Première section ************/

section:first-child {
  margin: 0.5em;
  height: 15em;
  display: flex;
}

section:first-child article {
  width: 50%;
}

section:first-child article:first-child {
  background-color: #A9A9A9;
}
section:first-child article:last-child {
  background-color: #708090;
}

/************* deuxième section *************/

section:nth-child(2) div:first-child {
  background-color: #B0E0E6;
  padding: 1em 3em;
  font-size: 1.4em;
}

section:nth-child(2) div:nth-child(2) {
  display: flex;  
}

section:nth-child(2) article {
  width: 25%;
  height: 15em;
}

section:nth-child(2) article:nth-child(1) {
  background-color: #87CEEB;
}
section:nth-child(2) article:nth-child(2) {
  background-color: #40E0D0;
}
section:nth-child(2) article:nth-child(3) {
  background-color: #2E8B57;
}
section:nth-child(2) article:nth-child(4) {
  background-color: #98FB98;
}

/************* footer *************/

footer {
  display: flex;
}

footer div {
  width: 50%;
  height: 5em;
}

footer div:first-child {
  background-color: #DB7093;
}
footer div:last-child {
  background-color: #AFEEEE;
}