* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 5px ridge #FF2C60;
}

.logo img {
  width: 150px;
  height: 150px;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

nav a {
  font-weight: bold;
  color: #ff3366;
}

main {
  width: 90%;
  margin: 50px auto;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

h1 {
  width: 100%;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}

aside {
  width: 30%;
  background-color: #caa6a6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
aside a {
  background-color:  #ffe7e7;
  color: black;
  font-weight: bold;
  text-align: center;
  width: 10em;
  padding: 0.5em 1em;
  border-radius: 25px;
}

main > div {
  /* > selectionne l'enfant direct d'un élément, celui qui est imbriqué directement après son élément référent */
  width: 70%;
}

main > div section:first-child {
  background-color: #ffe7e7;
  padding: 50px;
}

 h2 {
  text-align: center;
  padding: 40px 0;
}

main > div section:nth-child(2) {
  background-color: #944e63;
  padding: 50px;
}

main > div section:nth-child(2) div {
  display: flex;
  justify-content: space-around;
}

main article {
  width: 30%;
  background-color: #b47b84;
  color: white;
  text-align: center;
  padding: 20px;
}

h3 {
  color: #333;
  margin-bottom: 15px;
}

footer {
  border-top: 5px ridge #FF2C60;
  text-align: center;  
}

footer p {
  padding: 30px;
}