* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 5em;
  background-color: lightgrey;
  line-height: 20px;
  text-align: justify;
}

h1 {
  text-align: center;
  padding: 1em 0;
}

/* ************ tableau 1 ************ */

caption {
  color: #6e2142;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

table {
  text-align: center;
  border: 3px solid #6e2142;
  width: 90%;
  margin: 50px auto 10px ;
  padding: 20px;
  background-color: #c7c8cc;
  border-collapse: collapse; 
  /* permet de fusionner les bordures côte à côte.
  Par défaut, la bordure contient 2 traits.
  Pour que le trait soit unique, on utilise la propriété border-collapse avec une valeur collapse. */
}

th, td {
  border: 1px solid #6e2142;
  padding: 5px;
}

thead, tfoot {
  background-color: #be7575;
}

thead th:first-child, tfoot td:first-child {
  background-color: #c7c8cc;
}

h2 {
  color: blue;
  font-size: 2em;
  text-align: center;
}

#rowspan tr :first-child:not(:last-child) {
  background-color: #be7575;
  color: white;
}

#colspan tr:first-child {
  background-color: #be7575;
  color: white;
}

/********* Exo colspan / rowspan *********/

#exoColspan, #exoRowspan, #exoColspan2 {
  height: 15em;
  width: 100%;
  background-color: white;
}

#exoColspan td {
  width: 14.28%;
  height: 14.28%;
}

#exoRowspan th, #exoRowspan td, #exoColspan th, #exoColspan td, #exoColspan2 th, #exoColspan2 td  {
  border: none;  
}

.black {
  background-color: black;
}
.red {
  background-color: red;
}

.borderRadius {
  border-radius: 10px 10px 0 0;
}

.borderLeft {
  border-radius: 10px 0 0 0;
}

.borderRight {
  border-radius: 0 10px 0 0;
}